/* Base Application Styles */
body {
   //color: #fff;
}

.index{
  padding:50px;
  text-align: center;
  p{
    text-align: left;
  }
}

.mg-b-sm{
  margin-bottom:20px;
}
.mg-t-sm{
  margin-top:20px;
}

